{
    "printWidth": 80,
    "tabWidth": 2,
    "arrowParens": "always",
    "trailingComma": "all",
    "endOfLine": "auto",
    "semi": false,
    "singleQuote": true,
    "vueIndentScriptAndStyle": true,
    "plugins": [
      "prettier-plugin-tailwindcss"
    ]
  }