@tailwind base;
@tailwind components;
@tailwind utilities;

@layer usables {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .grid-center {
    @apply grid place-items-center;
  }
}

@layer animations {
  .focus-border {
    @apply outline-none border-[2px] border-transparent focus:bg-yellow-500 transition-colors duration-300;
  }

  .hover-bg {
    @apply hover:bg-yellow-500 transition-colors duration-300;
  }
}

* {
  font-family: 'Sora', sans-serif;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#view {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(225deg, #414345, #232526);
}
