@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-link {
    @apply text-xs font-semibold text-neutral-400;
  }

  .modal-black {
    @apply absolute z-20 top-0 w-screen h-screen grid-center bg-neutral-800 bg-opacity-75;
    animation: darkenModalBack .5s ease-in-out;
  }

  .modal {
    @apply max-w-lg w-10/12 h-[450px] flex flex-col justify-between px-4 pb-6 rounded-lg bg-neutral-900;
    animation: showModal .5s ease-in-out;
  }

  .label {
    @apply text-sm text-neutral-100;
  }

  .large-input {
    @apply w-full h-10 text-neutral-100 text-sm placeholder:text-neutral-500 p-2 rounded-md focus-ring hover-ring bg-neutral-800;
  }

  .short-input {
    @apply w-16 h-10 text-sm text-neutral-100 placeholder:text-neutral-500 p-2 rounded-md focus-ring hover-ring bg-neutral-800;
  }

  .select-input {
    @apply cursor-pointer relative w-full h-10 flex-between text-neutral-100 px-2 rounded-md bg-neutral-800 hover-ring;
  }

  .dropbox {
    @apply absolute -bottom-20 z-10 w-full flex flex-col text-neutral-100 rounded-md bg-neutral-800;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .grid-center {
    @apply grid place-items-center;
  }

  .hover-ring {
    @apply outline-none ring-1 ring-transparent hover:ring-yellow-500 transition-colors duration-300;
  }

  .focus-ring {
    @apply outline-none ring-1 ring-transparent focus:ring-yellow-500 transition-colors duration-300;
  }

  .hover-bg {
    @apply hover:bg-yellow-500 transition-colors duration-300;
  }
}

* {
  font-family: 'Sora', sans-serif;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@keyframes darkenModalBack {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
